 body{
            background-color: black;
            color: rgb(73, 207, 20);
        }
        #html{
            color: rgb(146, 255, 136)
        }
        #css{
        color: rgb(54, 255, 54)
        }
        #JavaScript{
            color:rgb(153, 255, 0)
        }
